@import url(https://fonts.bunny.net/css?family=righteous:400|source-sans-pro:400,700);

@font-face {
    font-family: "OpenDyslexic";
    src: url("./fonts/OpenDyslexic-Bold.otf") format("truetype"),
         url("./fonts/OpenDyslexic-Regular.otf") format("truetype");
    size-adjust: 80%;
}

:root {
    --background: #dcdedd;
    --backgroundGradient: #dcdedd;
    --lighter: #fff4;
    --shine: #fff;
    --shadow: #9fb3b1;
    --text: #3f3d38;
    --titles: #4e585d;
    --links: #7eb68a;

    --borderRadius: 1em;
    --hoverFilter: 0.9;

    --font: "Source Sans Pro", sans-serif;
}

::-moz-selection {
    color: var(--shine);
    background: var(--links);
}

::selection {
    color: var(--shine);
    background: var(--links);
}

* {
    margin: 0;
    padding: 0;
    transition:
        filter 0.2s,
        color 0.2s,
        box-shadow 0.2s;
}

.about p {
    text-align: center;
    line-height: 2em;
    max-width: 65em;
}

.about h1 {
    margin-bottom: 0.2em;
}

.answers button {
    width: 35%;
    height: 15em;
    padding: 0 0 0.6em 0;
}

.answers img {
    width: 100%;
    height: 80%;
    align-self: flex-start;
    object-fit: cover;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
    margin: 0 0 0.5em 0;
}

.back {
    align-self: flex-start;
}

.big-btn {
    width: 95%;
    font-size: xx-large;
    margin: 0.7em 0;
}

.btn {
    width: 80%;
    font-size: larger;
    cursor: pointer;
}

.big-btn,
.btn {
    text-align: center;
    margin: 1em;
    padding: 0.5em;
    color: var(--titles);
}

.close {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
}

.popup {
    position: absolute;
        height: 60%;
        width: 40%;
        top: calc(50% - 30%);
        left: calc(50% - 20%);
    z-index: 10;
    text-align: center;
    background: var(--backgroundGradient);
    border-radius: var(--borderRadius);
    box-shadow: 0 0 2rem var(--shadow);
}

.popup a {
    width: auto;
    margin-bottom: 3em;
}

.disabledLink {
    pointer-events: none;
    opacity: 0.6;
}

.game-top-bar {
    padding: 0.3em;
    
}

header {
    min-width: 100%;
}

.game-top-bar * {
    margin: 0 0.2em;
}

.game-top-bar li {
    list-style: none;
    display: inline-block;
    margin: 0.7em;
}

.game-top-bar div {
    justify-content: center;
    margin: 0 1em;
}

.question {
    padding: 1em 1em 2em 1em;
    margin-top: 2em;
    min-width: 100%;
}

.question audio {
    margin: 1em;
}

.question p.unselectable {
    margin-top: 1em;
}

.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#feedbackBar {
    text-align: center;
    font-size: 1.2em;
}

#feedbackBar button {
    width: 6em;
    margin: 1em 0 0 0;
}

.correct {
    box-shadow: inset 0 0 10em var(--shine);
}

.incorrect {
    box-shadow: inset 0 0 10em var(--shadow);
}

.neumorphic.disabledLink {
    background-color: var(--background);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 0.3rem, var(--lighter) 0.3rem, var(--lighter) 0.6rem);
}

.flex-center-column {
    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
}

.flex-center-row {
    display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
}

.index-nav {
    height: 50vh;
}

.logo,
.title {
    font-family: 'Righteous', sans-serif;
    text-shadow:
        -0.01em -0.01em 0.03em var(--shine), 
        0.01em 0.01em 0.03em var(--shadow);
    margin: 0;
}

.logo {
    font-size: 7em;
    vertical-align: middle;
}

.lvl-nav {
    width: 90vw;
    flex-wrap: wrap;
}

.lvl-nav a {
    border-radius: 100%;
    height: 15vw;
    width: 15vw;
    padding: 0;
    font-size: 7.5vw;
    line-height: 200%;
    color: var(--links);
}

.neumorphic {
    background: var(--backgroundGradient);
    box-shadow:
        0 0 0.5rem var(--lighter),
        -0.3rem -0.3rem 1rem var(--shine),
        0.3rem 0.3rem 0.6rem var(--shadow),
        inset 0.3rem 0.3rem 0.6rem var(--lighter);
    border-radius: var(--borderRadius);
}

div.point-bar-container {
    background: var(--background);
    width: 13em;
    height: 1em;
}

div.point-bar {
    background-color: var(--links);
    height: 1em;
    width: 0%;
    border-radius: var(--borderRadius);
    margin: 0;
}

.point-bar-glow {
    animation-name: point-bar-glow;
        animation-duration: 2s;
}

.point-text-glow {
    animation-name: point-text-glow;
        animation-duration: 2s;
}

.point-total {
    font-size: 1.5em;
    font-weight: bold;
}

.round {
    border-radius: 100%;
    width: auto;
}

.scientific-name {
    font-size: 0.7em;
    opacity: 0.5;
}

.share {
    height: 2.5em;
    padding: 0.5em;
}

.title {
    font-size: 5em;
}

a {
    color: var(--links);
    font-weight: bold;
    text-decoration: none;
}

a:hover,
a:focus-visible {
    color: var(--text);
}

a.neumorphic:hover,
button.neumorphic:hover,
:focus-visible {
    filter: brightness(var(--hoverFilter));
}

b {
    color: var(--titles);
}

body {
    background: var(--background);
    font-family: var(--font);
    height: 100vh;
    padding: 0 20%;
    color: var(--text);
}

button {
    border: none;
    font-family: var(--font);
}

checkbox {
    padding: 1em;
}

:focus-visible {
    outline: 0.4rem solid var(--links);
    border-radius: var(--borderRadius);
}

form {
    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    height: 50%;
}

select {
    color: var(--text);
    font-family: var(--font);
}

h1,
h2,
h3 {
    color: var(--titles);
    text-align: center;
}

noscript.neumorphic {
    background-color: #ff000010;
    padding: 1em;
    font-weight: bold;
}

select {
    height: 3em;
    padding-left: 0.5em;
    margin: 0 1em 2em 1em;
    border: none;
}

svg {
    fill: none;
    stroke-width: 0.2em;
    stroke: var(--titles);
    height: 100%;
}

svg.filled {
    fill: var(--titles);
}

svg.logo {
    display: inline;
    stroke-width: 0.035em;
    height: 1em;
    width: 1em;
}

@keyframes point-bar-glow {
    from {
        background-color:  var(--shine);
    }

    to {
        background-color: var(--links);
    }
}

@keyframes point-text-glow {
    from {
        color:  var(--shine);
    }

    to {
        color: var(--text);
    }
}

@media (max-width: 1100px){
    .logo {
        font-size: 5.5em;
    }

    svg.logo {
        stroke-width: 0.045em;
    }
}

@media (max-width: 800px){
    .logo {
        font-size: 5em;
    }

    svg.logo {
        stroke-width: 0.06em;
    }

    .title {
        font-size: 3em;
    }

    body {
        font-size: smaller;
    }

    body {
        padding: 0 5%;
    }
}